.contact-section {
    padding: 100px 20px; 
    background-color: #ffffff; 
    height: 100vh; 
    display: flex;
    padding: 8% 4%;
    gap: 5%
    /* justify-content: center; */
    /* align-items: center; */
  }

.left-contact {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  align-items: baseline;
  gap: 8%;
}

.title-contact {
  color: #466046;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 3.5em;
}

.desc-contact {
  color: #466046;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 380;
  font-size: 1.5em;
  text-align: left;
}

.email-contact {
  color: #466046;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 380;
  font-size: 1.5em;
  text-align: left;

}

.icon-contact {
  display: flex;
  width: 100%;
  text-align: left;
  gap: 5%;

}

.right-contact {
  width: 60%;
  align-items: center;
}
