@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: #80619e;
  z-index: 1;
}

.navbar-logo {
  font-size: 1em;
  padding: 0.5% 1.8%;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 91%;
  gap: 3%;
  margin: 0;
  padding: 0;
}
.navbar-links li .navbar-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

 .navbar-links li .navbar-link::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -6px; 
  width: 0;
  height: 2px; 
  background-color: #ffffff; 
  transition: width 0.3s ease; 
}

.navbar-links li .navbar-link:hover {
  color: #000000;
  transform: scale(1.1);
  /* width: 100%;  */
  /* background-color: #ffffff; */
}

/*TODO
- Improve navbar, make it underline the section it's currently in 
*/

/* .navbar-links li .navbar-link:hover::after,
.navbar-links li .navbar-link.active::after {
  width: 100%; 
  background-color: #ffffff;
}  */
