.blinking-arrow-container {
    position: absolute;
    bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.blinking-arrow {
    background: none;
    border: none;
    cursor: pointer;
    animation: blink 5s infinite;
}

.blinking-arrow:focus {
    outline: none;
}

.blinking-arrow svg {
    font-size: 6rem; 
    transform: scaleY(0.88);
    animation: blink 5s infinite;
    color: #466046;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.2;
    }
}


@media (max-height: 600px){
    .blinking-arrow-container {
        bottom: 0.5%;
    }
    .blinking-arrow svg {
        font-size: 4rem; 
    }
}